<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="token" value="MTA3NDYxMDA3MjYxNDg2Njk0NQ.G1IUY2.bvJHOwoCpFLv0f2_MUVNFgx-yPY60FKKx9NmmY" />
		<add key ="admin_id" value="394778586055311370" />
		<add key ="guild_id" value="910527156738732103" />
		<add key ="application_id" value="1074610072614866945" />
		<add key ="voicevox_engine" value="192.168.11.188" />
	</appSettings>
</configuration>