<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="token" value="token" />
		<add key ="admin_id" value="id" />
		<add key ="guild_id" value="id" />
		<add key ="application_id" value="id" />
		<add key ="voicevox_engine" value="ipaddress" />
	</appSettings>
</configuration>